.goback {
  width: 30px;
  height: 30px;
  border-radius: 10px;
  position: absolute;
  left: 2%;
  top: 1%;
  background-color: rgba(252, 246, 246, 0.555);
  border: none;
  cursor: pointer;

  .test {
    width: 100%;
  }
}

