.weather {
  display: flex;
  flex-direction: column;


  margin: auto;

  &-picture { 
    //background-image: url('../../asset/sunny.png');
    background-size: cover;
    margin: auto;
    width: 100px;
    height: 100px;

  }

  .temprature {
    font-size: larger;
    font-weight: bolder;
    text-align: center;
  }
}