.date {
  font-family: 'Anton', sans-serif;
  // font-family:'Rampart One', cursive;
  font-size: 26px;
  text-align: center;
  margin-top: 3%;
  font-weight: bolder;
  color: rgba(14, 162, 255, 0.9);
}
