.hour-block {
  // border: solid 1px black;
  background-color: rgba(252, 246, 246, 0.363);
  display: flex;
  justify-content: space-evenly;
  width: 94%;
  height: 40px;
  margin: 1% auto;
  line-height: 40px;

  .time {
    font-size: medium;
    font-weight: bold;

  }

  .temperature {
    font-size: medium;
    font-weight: bold;

  }
}