.weather-app {
  width: 375px;
  height: 812px;
  border: solid 2px black;
  margin: 0  auto;
  background-image: url('../asset/background2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}