.moreinfo {
  text-align: center;
  font-family: 'Anton', sans-serif;
  width: 80%;
  margin: 0 auto;
  font-size: 30px;
  background-color: rgba(252, 246, 246, 0.555);
  border: none;
  box-shadow: 3px 3px 3px 3px #201f1fb4;

  a {
    text-decoration: none;
  }
}